:root {
  /* color variables */
  --page-background: #eeeeee;
  --text-background: #ffffff;
  --button-background: #43a047;
  --button-hover-background: #2e7d32;
  --header-text-color: #22292f;
  --subheading-text-color: #999999;
  --text-color: #5f6368;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--page-background);
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: var(--text-color);
  padding: 0;
  margin: 0;

}


/* animation stuff */


.container {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ai-orb {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  background: #E76F00;
  position: relative;

  transform: scale(0.5);
}

.ai-orb__circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #E76F00;
  animation: 2s ease-in 0s infinite forwards inhale;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.circle2 {
  animation-delay: 0.67s;
}
.circle3 {
  animation-delay: 1.32s;
}

.ai-orb__bg-wrap {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;

  position: absolute;
  inset: 0;
  z-index: 10;
}

.ai-orb__bg {
  background: radial-gradient(#F8A433, transparent 80%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  animation: 2s ease-in-out 0s infinite alternate scale-bg;
}

.ai-orb svg {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 2em;
  z-index: 20;
  left: 0px;
}

.small-star {
  animation: 1s ease-in-out 0.5s infinite alternate twinkle;
  transform-origin: 20% 20%;
}
.big-star {
  animation: 1s ease-in-out 0s infinite alternate twinkle;
  transform-origin: center;
}

.particle {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  position: absolute;
  background: #F48D03;
  z-index: 15;
  transform-origin: center;
  opacity: 0;
  animation: 2s cubic-bezier(0.32, 0, 0.67, 0) 0s infinite forwards ingestion;
}

.particle1 {
  bottom: 0;
  right: 3em;
  offset-path: path("M31 69.5L0.999924 0.499929");
}

.particle2 {
  top: -1em;
  left: -2em;
  offset-path: path("M0.5 0.5L69.5 69.5");
  background: #F8A433;
  animation-delay: 0.5s;
  transform: scale(0.75);
}

.particle3 {
  bottom: 0;
  left: -1em;
  offset-path: path("M1 70L31 1");
  animation-delay: 0.3s;
  transform: scale(0.6);
}

.particle4 {
  top: -1em;
  left: 0;
  offset-path: path("M0.5 0.5L69.5 69.5");
  animation-delay: 1.3s;
  background: #00234C;
  transform: scale(0.6);
}

.particle-set {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  transform-origin: center;
}

.set2 {
  transform: rotate(90deg);
}
.set2 .particle1 {
  animation-delay: 1.6s;
  background: #F28F1D;
  bottom: 2em;
  right: 2em;
}
.set2 .particle2 {
  animation-delay: 0.6s;
  transform: scale(1);
}
.set2 .particle3 {
  animation-delay: 1.5s;
  left: 1em;
  bottom: 3em;
}
.set2 .particle4 {
  animation-delay: 0.3s;
}

.set3 {
  transform: rotate(120deg);
}
.set3 .particle1 {
  animation-delay: 1s;
  transform: scale(0.6);
}
.set3 .particle2 {
  animation-delay: 1s;
  background: #FFBB7B;
}
.set3 .particle3 {
  animation-delay: 1s;
  transform: scale(1);
}

@keyframes scale-bg {
  from {
    transform: scale(0.3);
    opacity: 0;
  }
  to {
    transform: scale(1.5);
    opacity: 1;
  }
}

@keyframes inhale {
  from {
    transform: scale(1.4);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes twinkle {
  from {
    transform: scale(0.75);
  }
  to {
    transform: scale(1);
  }
}

@keyframes ingestion {
  0% {
    opacity: 0;
    width: 0.3em;
    height: 0.3em;
    offset-distance: 0%;
  }

  30% {
    opacity: 1;
    width: 0.8em;
    height: 0.8em;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    offset-distance: 100%;
  }
}




